In [1]:
import pandas as pd

In [46]:
df = pd.DataFrame()

for year in range(2003, 2023):
    if year == 2020 or year == 2021:
        continue
    df_tour = pd.read_csv(f"stats/{year}-tournament-stats.csv")
    df_total = pd.read_csv(f"stats/{year}-total-stats.csv")
    df_records = pd.read_csv(f"records/{year}-records.csv")
    df_total = df_total.drop("year", axis=1)
    df_tour = df_tour.drop("year", axis=1)
    df1 = pd.merge(df_records, df_total, on="team", how="left")
    df2 = pd.merge(df_records, df_tour, on="team", how="left") 
    for col in ['pts', 'fgm', 'fga', '3pm', '3pa', 'ftm', 'fta', 'orb', 'drb', 'reb', 'ast', 'stl', 'blk', 'tov', 'pf']:
        df1[col] = df1[col] - df2[col]
    df = pd.concat([df, df1])

In [52]:
df.tail()

,year,team,seed,wins,losses,cwins,closses,pts,fgm,fga,...,ftm,fta,orb,drb,reb,ast,stl,blk,tov,pf
63,2022,Texas A&M-CC,16,23,11,7,7,2615.0,918.0,2063.0,...,563.0,757.0,414.0,844.0,1258.0,511.0,289.0,59.0,483.0,689.0
64,2022,Bryant,16,22,9,15,2,2415.0,848.0,1942.0,...,459.0,626.0,358.0,866.0,1224.0,437.0,196.0,138.0,431.0,520.0
65,2022,Wright State,16,21,13,15,7,2566.0,934.0,2010.0,...,483.0,629.0,328.0,807.0,1135.0,474.0,196.0,100.0,418.0,489.0
66,2022,Texas Southern,16,18,12,13,5,2077.0,761.0,1742.0,...,382.0,569.0,343.0,796.0,1139.0,325.0,168.0,150.0,445.0,533.0
67,2022,Georgia State,16,18,10,9,5,1977.0,699.0,1735.0,...,364.0,508.0,358.0,659.0,1017.0,379.0,250.0,125.0,332.0,441.0

,year,team,seed,wins,losses,cwins,closses,pts,fgm,fga,...,ftm,fta,orb,drb,reb,ast,stl,blk,tov,pf
0,2022,Arizona,1,31,3,18,2,2875,1035,2087,...,541,733,373,988,1361,677,228,194,448,560
1,2022,Kansas,1,28,6,14,4,2672,974,2025,...,481,664,352,871,1223,525,218,141,426,539
2,2022,Gonzaga,1,26,3,13,1,2547,955,1811,...,394,540,257,901,1158,528,193,167,340,447
3,2022,Baylor,1,26,6,14,4,2448,903,1948,...,388,556,389,762,1151,507,282,109,400,507
4,2022,Duke,2,28,6,16,4,2726,1009,2064,...,430,590,339,916,1255,575,220,188,348,464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,2022,Texas A&M-CC,16,23,11,7,7,2615,918,2063,...,563,757,414,844,1258,511,289,59,483,689
64,2022,Bryant,16,22,9,15,2,2415,848,1942,...,459,626,358,866,1224,437,196,138,431,520
65,2022,Wright State,16,21,13,15,7,2566,934,2010,...,483,629,328,807,1135,474,196,100,418,489
66,2022,Texas Southern,16,18,12,13,5,2077,761,1742,...,382,569,343,796,1139,325,168,150,445,533
67,2022,Georgia State,16,18,10,9,5,1977,699,1735,...,364,508,358,659,1017,379,250,125,332,441

In [31]:
df1.concat([0 for x in range(22)])

AttributeError: 'DataFrame' object has no attribute 'concat'

In [25]:
df2

,year,team,seed,wins,losses,cwins,closses,pts,fgm,fga,...,ftm,fta,orb,drb,reb,ast,stl,blk,tov,pf
0,2022,Arizona,1,31,3,18,2,232,82,182,...,45,60,40,85,125,49,21,16,49,59
1,2022,Kansas,1,28,6,14,4,457,170,368,...,74,110,62,183,245,88,33,31,59,97
2,2022,Gonzaga,1,26,3,13,1,243,90,193,...,44,74,37,99,136,50,12,16,29,50
3,2022,Baylor,1,26,6,14,4,171,59,135,...,33,48,29,47,76,35,16,8,21,41
4,2022,Duke,2,28,6,16,4,396,149,293,...,68,85,47,130,177,67,29,31,52,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,2022,Texas A&M-CC,16,23,11,7,7,67,25,67,...,9,19,7,30,37,17,9,3,8,22
64,2022,Bryant,16,22,9,15,2,82,31,71,...,16,23,12,22,34,7,11,5,13,24
65,2022,Wright State,16,21,13,15,7,163,53,130,...,39,51,20,49,69,32,16,7,22,34
66,2022,Texas Southern,16,18,12,13,5,132,42,113,...,41,54,16,58,74,21,10,15,31,32
67,2022,Georgia State,16,18,10,9,5,72,23,70,...,20,25,13,28,41,12,5,5,7,25

In [10]:
df = pd.merge(df_records, df_total_stats, on="team", how="left")
df

,year_x,team,seed,wins,losses,cwins,closses,year_y,pts,fgm,...,ftm,fta,orb,drb,reb,ast,stl,blk,tov,pf
0,2022,Arizona,1,31,3,18,2,2022,3107,1117,...,586,793,413,1073,1486,726,249,210,497,619
1,2022,Kansas,1,28,6,14,4,2022,3129,1144,...,555,774,414,1054,1468,613,251,172,485,636
2,2022,Gonzaga,1,26,3,13,1,2022,2790,1045,...,438,614,294,1000,1294,578,205,183,369,497
3,2022,Baylor,1,26,6,14,4,2022,2619,962,...,421,604,418,809,1227,542,298,117,421,548
4,2022,Duke,2,28,6,16,4,2022,3122,1158,...,498,675,386,1046,1432,642,249,219,400,532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,2022,Texas A&M-CC,16,23,11,7,7,2022,2682,943,...,572,776,421,874,1295,528,298,62,491,711
64,2022,Bryant,16,22,9,15,2,2022,2497,879,...,475,649,370,888,1258,444,207,143,444,544
65,2022,Wright State,16,21,13,15,7,2022,2729,987,...,522,680,348,856,1204,506,212,107,440,523
66,2022,Texas Southern,16,18,12,13,5,2022,2209,803,...,423,623,359,854,1213,346,178,165,476,565
67,2022,Georgia State,16,18,10,9,5,2022,2049,722,...,384,533,371,687,1058,391,255,130,339,466

In [7]:
df_records["team"]

0            Arizona
1             Kansas
2            Gonzaga
3             Baylor
4               Duke
           ...
63      Texas A&M-CC
64            Bryant
65      Wright State
66    Texas Southern
67     Georgia State
Name: team, Length: 68, dtype: object

In [8]:
df_total_stats["team"]

0                  Kansas
1                    Duke
2                 Arizona
3          North Carolina
4      South Dakota State
              ...
353             Air Force
354             Dartmouth
355             UC Irvine
356              UC Davis
357                 IUPUI
Name: team, Length: 358, dtype: object