In [6]:
import pandas as pd

In [8]:
df = pd.DataFrame()

year = 2022
df_tournament_stats = pd.read_csv(f"stats/{year}-tournament-stats.csv")
df_tournament_stats

,year,school,pts,fgm,fga,3pm,3pa,ftm,fta,orb,drb,reb,ast,stl,blk,tov,pf
0,2022,North Carolina,480,164,395,55,162,97,133,90,196,286,93,23,26,70,90
1,2022,Kansas,457,170,368,43,108,74,110,62,183,245,88,33,31,59,97
2,2022,Duke,396,149,293,30,86,68,85,47,130,177,67,29,31,52,68
3,2022,Xavier,376,140,290,31,101,65,96,50,130,180,83,43,21,61,74
4,2022,Texas A&M,360,129,290,20,85,82,110,59,125,184,57,42,15,56,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,2022,Santa Clara,50,18,60,3,23,11,15,10,34,44,13,3,6,12,16
130,2022,Norfolk State,49,18,57,5,22,8,10,15,14,29,7,6,1,15,17
131,2022,Maryland-Eastern Shore,42,16,60,7,34,3,8,9,29,38,10,8,2,17,15
132,2022,Seton Hall,42,15,52,6,21,6,11,4,17,21,9,8,4,14,17
133,2022,Loyola (IL),41,15,56,8,28,3,10,11,20,31,12,9,2,14,19

In [9]:
df_total_stats = pd.read_csv(f"stats/{year}-total-stats.csv")
df_total_stats

,year,school,pts,fgm,fga,3pm,3pa,ftm,fta,orb,drb,reb,ast,stl,blk,tov,pf
0,2022,Kansas,3129,1144,2393,286,792,555,774,414,1054,1468,613,251,172,485,636
1,2022,Duke,3122,1158,2357,308,841,498,675,386,1046,1432,642,249,219,400,532
2,2022,Arizona,3107,1117,2269,287,815,586,793,413,1073,1486,726,249,210,497,619
3,2022,North Carolina,3038,1076,2409,328,916,558,730,415,1134,1549,582,201,152,454,564
4,2022,South Dakota State,3005,1078,2069,326,733,523,690,247,957,1204,528,213,89,385,536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,2022,Air Force,1712,627,1437,208,625,250,385,160,578,738,362,158,88,391,523
354,2022,Dartmouth,1709,608,1459,222,655,271,351,207,606,813,261,166,84,288,403
355,2022,UC Irvine,1656,609,1377,126,388,312,408,244,635,879,273,150,89,338,450
356,2022,UC Davis,1628,601,1366,146,438,280,397,201,590,791,272,144,69,299,443
357,2022,IUPUI,1521,557,1467,149,511,258,387,271,599,870,303,166,74,481,513

In [ ]:
df_stats =